



<% if logged_in? %>


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cati</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cats/profile">Profile</a>
        </li>
      </ul>
    <form class="d-flex"  action="/sessions" method="POST">
      <input type="hidden" name = "_method" value="delete">
      <button>Logout</button>
    </form>
  </div>
</nav>

<h2 class="h2-header">Welcome to Cati <%= current_user['first_name'] %></h2>

  
<main class="index-main">
<%# side-bar %>
<section class="side-bar">
  <h3>Search your future solemate</h3>
    <form action="/cats/search" method="GET" >
    <div class="form-floating mb-3">
      <input type="text" name="gender" class="form-control" id="floatingInput" placeholder="gender">
      <label for="floatingInput">gender</label>
    </div>
    <div class="form-floating">
      <input type="number" name="age" class="form-control" id="floatingInput" placeholder="age">
      <label for="floatingInput">age</label>
    </div>
      <button class="w-100 btn btn-lg btn-primary" >Search</button>
    </form>
        
<% if search_cat %>
        <h2 class="search-cat"><%= search_cat['name'] %></h2>
        <img  id="image-search" src="<%= search_cat['image_url'] %>" alt="">
        <h2 class="h2-img" style="background-color:#fff;" #cccccc;><span class="spa">gender : </span><%= search_cat['gender'] %></h2>
        <h2 class="h2-img" style="background-color:#fff;"><span class="spa">age : </span><%= search_cat['age'] %></h2>
        <h3 class="h2-img" style="background-color:#fff;"><%= search_cat['name'] %> might be your solemate</h3>
  <%else%>
        <p class ="text-muted display-5"></p>
  <%end%>

    
</section>

<%# biger-side %>
  <section class="cats">
    <% cats.each do |cat| %>
      <section class="cat">
        <h2 class="h2-img"><span class="spa">name : </span><%= cat['name'] %></h2>
        <img src="<%= cat['image_url'] %>" alt="">
        <h2 class="h2-img"><span class="spa">gender : </span><%= cat['gender'] %></h2>
        <h2 class="h2-img"><span class="spa">age : </span><%= cat['age'] %></h2>
      </section>
    <% end %>
  </section>
</main>
<% else %>



  <main style="background: url(https://images.unsplash.com/photo-1541781774459-bb2af2f05b55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8OXx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;" class="cover">
    <h1 class="h1 font-weight-bold display-4 fst-italic" style="color:#f44336">Cati</h1>
    <h2 class="text-muted">Meet beautiful and gorgeous cats around and find your soulmate</h2>
    <p class="lead">
      <a href="/sessions/new" class="btn btn-lg btn-primary fw-bold border-white bg-red">Login</a>
      <a href="/users/new" class="btn btn-lg btn-primary fw-bold border-white bg-red" >Sign up</a>
    </p>


  </main>

<% end %>

