<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Cati</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/cats/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cats/new">Add cat</a>
        </li>
      </ul>
    <form class="d-flex"  action="/sessions" method="POST">
      <input type="hidden" name = "_method" value="delete">
      <button>Logout</button>
    </form>
    </div>
  </div>
</nav>
   
<%# biger-side %>
  <section class="cats">
    <% owner_Cats.each do |cat| %>
      <section class="cat">
        <header>
        
          <section class="controls">
          <a href="/cats/<%= cat['id'] %>/edit" class="btn btn-secondary btn-md">Edit</a>
          <form action="/cats/<%= cat['id'] %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            
            <button class="btn btn-warning btn-md">Delete</button>
          </form>
          </section>
        </header>
        
        <h2 class="h2-img"><span class="spa">name : </span><%= cat['name'] %></h2>
        <img src="<%= cat['image_url'] %>" alt="">
        <h2 class="h2-img"><span class="spa">gender : </span><%= cat['gender'] %></h2>
        <h2 class="h2-img"><span class="spa">age : </span><%= cat['age'] %></h2>
      </section>
    <% end %>