<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cati</a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/profile/new">Profile</a>
        </li>
      </ul>
    <form class="d-flex"  action="/sessions" method="POST">
      <input type="hidden" name = "_method" value="delete">
      <button>Logout</button>
    </form>
  </div>
</nav>

<section class="cat">
<% if search_cat %>
        <h2 class="search-cat"><%= search_cat['name'] %></h2>
        <img  id="image-search" src="<%= search_cat['image_url'] %>" alt="">
        <h2 class="h2-img" style="background-color:#fff;" #cccccc;><span class="spa">gender : </span><%= search_cat['gender'] %></h2>
        <h2 class="h2-img" style="background-color:#fff;"><span class="spa">age : </span><%= search_cat['age'] %></h2>
        <h3 class="h2-img" style="background-color:#fff;"><%= search_cat['name'] %> might be your solemate</h3>
  <%else%>
        <p class ="text-muted display-5">Sorry, Match not found try again with new age</p>
  <%end%>
</section>